@import '../../css/buttons.styl'
@import '../../css/colors'

bc-header
  display block
  background-color $main-color
  color $light

  .main-header
    align-items center
    display flex
    justify-content space-between
    margin auto
    min-height 5.5em
    padding 0 1em
    width 110em

    &__logo
      text-decoration none
      color $light
      width 9em

    .main-nav
      margin-left 34em

      &__link
        color $light
        font-family 'Roboto'
        font-weight 300
        font-size 1.5em
        margin 0 1.2em
        text-decoration none

        &:last-of-type
          margin-right 0

      .sub-menu
        display none

    &__login
      @extend .tertiary-button
      color $light
      text-decoration none
      padding .6em 1.7em
      border-radius .2em
      margin 0