<ol class="breadcrumbs">
  <li class="breadcrumbs__item"><a class="breadcrumbs__item__anchor" ui-sref="home">Modelos</a></li>
  <li class="breadcrumbs__item">{{ ::$ctrl.segment.title }}</li>
</ol>

<div class="category-list">
  <h1 class="category-list__title">{{$ctrl.segment.title}}</h1>
  <p class="category-list__description">{{$ctrl.segment.description}}</p>

  <div class="category-items">
    <category-item
      on-open-moment="$ctrl.openMoment($category)"
      ng-repeat="category in ::$ctrl.categories"
      data="category">
    </category-item>
  </div>
</div>