@import './colors';

.breadcrumbs
  list-style-type none
  margin auto
  padding 2em 0
  width 110em

  &__item
    display inline-block
    font-size 1.4em
    color $light

    &:after
      content ' > '
      margin 0 .4em

    &:last-of-type
      &:after
        content none

    &__anchor
      text-decoration none
      color $light