@import './colors';

.main-button
  background-color $pink
  border 0
  border-radius .3em
  color $light
  cursor pointer
  display inline-block
  font-size 1.6em
  font-weight 300
  line-height 1
  margin-right 1.3em
  padding 1em 3em
  transition opacity .2s linear

  &.isDisabled
    opacity .4
    pointer-events none

.secondary-button
  background-color $light
  border-radius .3em
  border 2px solid $pink
  color $pink
  cursor pointer
  display inline-block
  font-size 1.4em
  font-weight 300
  line-height 1
  padding .8em 2.6em
  transition opacity .2s linear

  &.isDisabled
    opacity .4
    pointer-events none

.tertiary-button
  background-color transparent
  border-radius .3em
  border 2px solid $light
  color $light
  cursor pointer
  display inline-block
  font-size 1.4em
  font-weight 300
  line-height 1
  padding .8em 2.6em
  transition opacity .2s linear

  &.isDisabled
    opacity .4
    pointer-events none