@import './colors.styl'

.toast
  bottom -30px
  right 0
  max-width 100%
  position fixed
  transition all 0.3s ease
  z-index 10000

  .body
    background alpha($light, 80%);
    box-shadow: 0 1px 1px alpha($dark, 50%)
    border-radius .3em
    font-size 1.4em
    margin 0 1em 1em 1em
    padding 1.5em 3.6em 1.5em 2em
    position relative
    text-shadow: 0 1px 1px alpha($dark, 20%)
    word-wrap break-word

    &:after
      font-family 'Ionicons'
      font-size 1.4em
      position absolute
      right 1em
      top 50%
      transform translateY(-50%)

    &.info
      background rgba(255, 245, 195, 9)

    &.warning
      background rgba(255, 183, 99, 0.9)

    &.error
      color $light
      background rgba($pink, 0.9)
      &:after
        content '\f35b'
        color $light
        font-size 1.5em

    &.done
      color $light
      background rgba($main-color, 0.9)
      &:after
        content '\f120'
        color $light