<p class="my-model-list__intro">Sua escolha de perguntas está armazenada. Você também pode copiar o link deste modelo para compartilhar com um colega.</p>

<a class="my-model-list__btn my-model-list__btn--edit" ng-click="$ctrl.editModel()">Editar modelo</a>
<a class="my-model-list__btn my-model-list__btn--share" my-model-share>Copiar link</a>

<div class="my-model-items">
  <my-model-item ng-repeat="question in $ctrl.questions" data="question"></my-model-item>
</div>
