@import '../../../shared/css/buttons'

my-model-list
  display block
  float left
  width 50em

  .my-model-list
    &__intro
      font-size 1.6em
      line-height 1.3

    &__btn
      @extend .secondary-button
      position relative

      &--edit
        margin-right .5em

      &--share
        &:after
          content '\f41b'
          font-family 'Ionicons'
          font-size 1.4em
          position absolute
          right .6em
          top 50%
          transform translateY(-50%)

  .my-model-items
    margin 4em 0 1em
