@import '../../../shared/css/colors';

moment-list
  background-color #7051c5
  color $light
  display block
  height calc(100vh - 55px)

  .moment-list
    margin auto
    width 110em

    &__title
      font-weight 400
      font-size 4em
      margin .2em 0 0

    &__description
      font-weight 300
      font-size 1.6em
      margin 0