<ol class="breadcrumbs">
  <li class="breadcrumbs__item"><a class="breadcrumbs__item__anchor" ui-sref="home">Modelos</a></li>
  <li class="breadcrumbs__item"><a class="breadcrumbs__item__anchor" ui-sref="category({segment: $ctrl.segment.slug})">{{$ctrl.segment.title}}</a></li>
  <li class="breadcrumbs__item">{{$ctrl.category.title}}</li>
</ol>

<div class="moment-list">
  <h1 class="moment-list__title">{{$ctrl.category.title}}</h1>
  <p class="moment-list__description">{{$ctrl.category.description}}</p>

  <div class="moment-items">
    <moment-item
      on-open-model-tool="$ctrl.openModelTool($moment)"
      ng-repeat="moment in ::$ctrl.moments"
      data="moment">
    </moment-item>
  </div>
</div>