@import '../../../shared/css/colors'

.question-chosen-panel
  background-color darken($light, 5%)
  box-sizing border-box
  border-radius .5em
  display block
  height 100%
  margin-left 42em
  padding 2em

  &__title
    color lighten($gray, 15%)
    font-size 1.4em
    font-weight 400
    margin 0 0 1em
    text-align center

  .question-chosen
    height calc(100% - 3.8em)
    width 100%
    margin 2em 0
    overflow auto
    padding 0

    &::-webkit-scrollbar
      width 0
      background transparent

    &.isEmpty
      border .3em dashed lighten($gray, 65%)
      border-radius 1em
      box-sizing border-box
      position relative

      &:after
        align(both)
        color lighten($gray, 65%)
        content 'Arraste suas perguntas aqui'
        font-size 2em
        text-transform uppercase
        white-space nowrap

    &__item
      cursor move
      list-style-type none
      position relative
      margin-bottom 1em

      &:last-of-type
        margin-bottom 0

      &__delete
        position absolute
        right 10px
        top 10px
        cursor pointer
        font-size 2.6em
        color $pink

      &--ghost
        opacity .3