<div class="question-chosen-panel">
  <h1 class="question-chosen-panel__title">Minha pesquisa de {{ ::$ctrl.moment.title }}</h1>

  <ul class="question-chosen" ng-class="{'isEmpty': !$ctrl.questions.length}" sortable="$ctrl.sortableConfig">
    <li
      class="question-chosen__item"
      ng-repeat="question in $ctrl.questions track by question._id"
      data-id="{{ ::question._id }}"
    >
      <a class="question-chosen__item__delete" ng-click="::$ctrl.onDeleteItem(question._id)">&times;</a>
      <question-item data="question"></question-item>
    </li>
  </ul>
</div>