@import "../../../shared/css/colors"
@import "../../../shared/css/buttons"

my-model-contact
  .my-model-contact
    background-color alpha($gray, 10%)
    box-sizing border-box
    border-radius .5em
    margin-left 55em
    padding 4em

    &__title
      font-size 1.8em
      color $gray
      margin 0
      padding 0

    &__intro p
      font-size 1.2em
      line-height 1.3

    &__form
      margin-top 3em

      &.isDisabled
        opacity .7
        pointer-events none

      .field-cntr
        box-sizing border-box
        span(1/2)
        margin-bottom 1.5em
        padding-right 1.5em
        position relative

        &__label
          color $gray
          font-size 1.4em
          position absolute
          top 1.2em
          transition .1s all linear

          &.isActive
            color alpha($gray, 50%)
            top 0
            font-size 1em

        &__field
          background-color transparent
          border 0
          border-bottom 1px solid $gray
          box-sizing border-box
          font-size 1.4em
          padding 1.2em 0 .5em
          width 100%

          &:focus
            outline none


      &__send-btn
        @extend .main-button
        margin-top 2em

      .form-errors
        transition()

        &__message
          color $pink
          font-size 1.3em
          font-weight 500
          padding 1em 0 0

        &.ng-active
          opacity 1

        &.ng-inactive
          opacity 0