<div class="my-model-contact">
  <h1 class="my-model-contact__title">Agora falta pouco!</h1>

  <div class="my-model-contact__intro">
    <p>Ative suas próprias pesquisas na plataforma <strong><em>binds.co</em></strong> para envios automáticos, sem limites de perguntas ou de usuários.</p>
    <p>Personalize cores, logos, condicionais, notificações, relatórios automáticos em tempo real, sem limite de pesquisas simultâneas ou perguntas na pesquisa.</p>
  </div>

  <form ng-class="{isDisabled: !$ctrl.isActive}"  ng-submit="$ctrl.sendForm()" class="my-model-contact__form" name="contactForm">
    <div class="field-cntr" field-cntr>
      <input class="field-cntr__field" ng-model="$ctrl.name" type="text" name="name" required minlength="3" id="name">
      <label class="field-cntr__label" for="name">Nome</label>
    </div>

    <div class="field-cntr" field-cntr>
      <input class="field-cntr__field" ng-model="$ctrl.email" type="email" name="email" required id="email">
      <label class="field-cntr__label" for="email">E-mail</label>
    </div>

    <div class="field-cntr" field-cntr>
      <input class="field-cntr__field" ng-model="$ctrl.brand" type="text" name="brand" id="brand">
      <label class="field-cntr__label" for="brand">Empresa</label>
    </div>

    <div class="field-cntr" field-cntr>
      <input class="field-cntr__field" ng-model="$ctrl.tel" type="text" name="tel" id="tel">
      <label class="field-cntr__label" for="tel">Telefone</label>
    </div>

    <button class="my-model-contact__form__send-btn">{{ $ctrl.isActive ? 'Quero conhecer' : 'Enviando...' }}</button>

    <div class="form-errors" ng-messages="contactForm.name.$dirty && contactForm.name.$error" role="alert">
      <div class="form-errors__message" ng-message="required">O campo Nome é de preenchimento obrigatório!</div>
      <div class="form-errors__message" ng-message="minlength">Seu nome deve conter no mínimo 3 carateres!</div>
    </div>

    <div class="form-errors" ng-messages="contactForm.email.$dirty && contactForm.email.$error" role="alert">
      <div class="form-errors__message" ng-message="required">O campo E-mail é de preenchimento obrigatório!</div>
      <div class="form-errors__message" ng-message="email">O campo e-mail deve conter um e-mail válido!</div>
    </div>
  </form>
</div>