@import '../../../shared/css/colors'

my-model-item
  .my-model-item
    display block
    border-left 4px solid $gray
    margin-bottom 2em
    padding-left 1em

    &__title
      font-size 1.6em
      font-weight 500
      margin 0

    &__question
      font-size 1.4em
      margin .2em 0 0