@import '../../../shared/css/colors';

.moment-items
  display flex
  margin-top 7em
  flex-wrap wrap
  justify-content space-between

moment-item
  border-radius 1em
  display block
  margin-bottom 2em
  overflow hidden
  width 32%

  .moment
    background-color lighten($main-color, 10%)
    cursor pointer
    display block
    font-weight 300
    font-size 1.6em
    padding .8em
    width 100%