@import '../../../shared/css/colors';

.category-items
  display flex
  margin-top 7em
  flex-wrap wrap
  justify-content space-between

category-item
  border-radius 1em
  display block
  margin-bottom 2em
  overflow hidden
  width 32%

  .category
    background-color $main-color
    cursor pointer
    display block
    font-weight 300
    font-size 1.6em
    padding .8em
    width 100%