<ol class="breadcrumbs">
  <li class="breadcrumbs__item"><a class="breadcrumbs__item__anchor" ui-sref="home">Modelos</a></li>
  <li class="breadcrumbs__item"><a class="breadcrumbs__item__anchor" ui-sref="category({segment: $ctrl.segment.slug})">{{ ::$ctrl.segment.title }}</a></li>
  <li class="breadcrumbs__item"><a class="breadcrumbs__item__anchor" ui-sref="moment({segment: $ctrl.segment.slug, category: $ctrl.category.slug})">{{ ::$ctrl.category.title }}</a></li>
  <li class="breadcrumbs__item">{{ ::$ctrl.moment.title }}</li>
</ol>

<div class="dashboard">
  <question-list
    questions="$ctrl.questions"
    chosen="$ctrl.chosen"
    on-update="$ctrl.resetQuestions(questions)"
  >
  </question-list>

  <question-chosen
    questions="$ctrl.chosen"
    moment="$ctrl.moment"
    on-add="$ctrl.keepChosen(data)"
    on-update="$ctrl.updateChosenItems(items)"
    on-delete="$ctrl.removeChosenItem(item)"
  >
  </question-chosen>
</div>

<question-footer chosen="$ctrl.chosen" on-save="$ctrl.saveChosenItems()"></question-footer>