@import '../../shared/css/colors';

question
  background-color #7051c5
  display block
  min-height calc(100vh - 55px)

  .dashboard
    background-color alpha($light, 15%)
    border-radius .5em
    box-sizing border-box
    margin auto
    height 72vh
    padding 2em
    width 110em