@import '../../../shared/css/colors';

.segment-items
  display flex
  flex-wrap wrap
  group()
  justify-content space-between
  margin 5em auto 0
  width 110em

segment-item
  align-items center
  background-color $gray-light
  color $gray
  cursor pointer
  display flex
  height 20em
  justify-content center
  width 25em
  margin 1.8em 0

  .segment
    align-items center
    display flex
    font-size 2em
    height 100%
    justify-content center
    width 100%