@import '../../../shared/css/colors'

question-item
  background-color $light
  border-radius .5em
  display block
  padding 2em 2.5em

  .question-item
    &__title
      margin 0
      font-size 1.6em
      font-weight 500

    &__description
      font-size 1.4em
      line-height 1.3
      margin .5em 0 0