@import '../../shared/css/colors';

my-model
  background-color #7051c5
  color $light
  display block
  height calc(100vh - 55px)
  padding 2em 0

  .my-model
    margin auto
    width 110em

    &__title
      margin 1em 0
      font-size 2.2em
      font-weight 400

    &__list-wrapper
      background-color $light
      border-radius .5em
      color $gray
      group()
      margin-top 2em
      padding 2em