<div class="my-model">
  <h1 class="my-model__title">Minha pesquisa de {{ ::$ctrl.moment.title }}</h1>

  <div class="my-model__list-wrapper">
    <my-model-list on-edit="$ctrl.editMyModel()" questions="$ctrl.chosen"></my-model-list>
    <my-model-contact on-send="$ctrl.sendContact(data)" is-active='$ctrl.formActive'></my-model-contact>
  </div>
</div>