@import '../../../shared/css/colors';
@import '../../../shared/css/buttons';

question-footer
  .question-footer
    margin auto
    margin-top 1em
    text-align right
    width 110em

    &__save-button
      @extend .main-button
