@import '../../../shared/css/colors';

segment-list
  .segment-list
    text-align center
    padding-top 3em

    &__title
      color $gray
      font-size 3em
      font-weight 300

    &__subtitle
      color $gray
      font-size 2em
      font-weight 300
