<div class="segment-list">
  <h1 class="segment-list__title">Descubra, compare e escolha as melhores perguntas</h1>
  <h2 class="segment-list__subtitle">mais de 18.000 questionários prontos para a sua pesquisa</h2>

  <div class="segment-items">
    <segment-item
      on-open-category="$ctrl.openCategory($segment)"
      ng-repeat="segment in ::$ctrl.segments"
      data="segment">
    </segment-item>
  </div>
</div>