@import '../../../shared/css/colors'

.question-list
  display block
  float left
  height 100%
  margin 0
  overflow auto
  padding 0
  width 40em

  &::-webkit-scrollbar
    width 0
    background transparent

  &__item
    cursor move
    list-style-type none
    margin-bottom 1em
    transition opacity .2s linear

    &:last-of-type
      margin-bottom 0

    &--ghost
      opacity .3

    &.isChosen
      cursor auto
      opacity .3
      pointer-events none