<ul class="question-list" sortable="$ctrl.sortableConfig">
  <li
    class="question-list__item"
    ng-repeat="question in $ctrl.questions track by question._id"
    ng-class="{'isChosen': $ctrl.isChosen(question._id)}"
    data-id="{{ ::question._id }}"
  >
    <question-item data="question"></question-item>
  </li>
</ul>